<!DOCTYPE html>
<html>
<head>
    <title>Про сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Про сайт</h1>
        <p>Цей сайт створено в рамках лабораторної роботи з вивчення Flask.</p>
        <p>Він демонструє базову структуру Flask-проєкту, маршрутизацію, використання шаблонів та підключення стилів.</p>
        <p>Також реалізовано базовий дизайн із використанням фону, стилів і адаптивного розміщення елементів.</p>
        <p>Роботу виконав студент 1 курсу 6м групи: Кустріч Віктор Юрійович</p>
        <a href="/">На головну</a>
        <a href="/services">Послуги</a>
    </div>
</body>
</html>