<!DOCTYPE html>
<html>
<head>
    <title>Головна</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо!</h1>
        <p>Цей сайт демонструє роботу веб-фреймворка <strong>Flask</strong>.</p>
        <p>Ви можете дізнатись більше про сайт, або ознайомитися з переліком послуг, які ми умовно надаємо.</p>
        <a href="/about">Про сайт</a>
        <a href="/services">Послуги</a>
    </div>
</body>
</html>