<!DOCTYPE html>
<html>
<head>
    <title>Послуги</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        ul {
            list-style-type: disc;
            text-align: left;
            display: inline-block;
        }
        .centered {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container centered">
        <h1>Наші послуги</h1>
        <ul>
            <li>Встановлення Windows</li>
            <li>Очищення ПК</li>
            <li>Налаштування інтернету</li>
            <li>Встановлення програмного забезпечення</li>
            <li>Антивірусне сканування</li>
            <li>Заміна комплектуючих</li>
            <li>Оптимізація швидкодії системи</li>
            <li>Налагодження принтерів та сканерів</li>
            <li>Налаштування роутера</li>
        </ul>
        <br>
        <a href="/">На головну</a>
        <a href="/about">Про сайт</a>
    </div>
</body>
</html>